body {
    background-color: #0078D7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.bsod-container {
    max-width: 800px;
    padding: 0 40px;
}

.sad-face {
    font-size: 150px;
    font-weight: 300;
    margin-bottom: 20px;
}

.main-text {
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 40px;
}

.progress-text {
    font-size: 18px;
    margin-bottom: 80px;
}

.info-section {
    display: flex;
    gap: 50px;
    margin-top: 100px;
}

.qr-code {
    width: 150px;
    height: 150px;
}

.info-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.details-link {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.details-code {
    font-size: 14px;
    margin: 3px 0;

}
